@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&display=swap');

body {
  background-color: #000031ed !important;
  color: whitesmoke !important;
  
}

.gupter-regular {
  font-family: "Gupter", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item {
  font-family: "Bodoni Moda", serif;
  font-weight:900;
  font-size: medium;
  font-style: oblique;
}


.mt-3 {
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  font-size:70px;
  font-style:oblique;
  padding-left: 1rem;
  color:bisque;
  margin-left: 1rem;
  border-left: 1rem;
}

.restaurant{
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  text-align:left;
  color:goldenrod;
  padding-top:20px;
  padding-left:1rem;
  margin-right:10rem;
  
}

.text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style:normal;
  color:rgb(182, 172, 172);
  font-size: 20px;
  font-weight: lighter;
  text-align:center;
  font:5em;
  margin-right:1rem;
  margin-top:1px;
  
}
.carousel {
  max-width: 50rem;
  margin: 1rem auto;
}

.carousel-item img {
  height: 600px;
  object-fit: contain;
}
.d-flex{
  margin-bottom:1rem;
}

.carousel-inner {
  border-radius: 10px;
  margin-left: 10px;
}




.sectionTitle{
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  font-size:100px;
  font-style:oblique;
  padding-left: 1rem;
  color:bisque;
  margin-left: 1rem;
  border-left: 1rem;
}



.price{
  font-family: "Bodoni Moda", serif;
  font-weight: 900;
  font-style: oblique;
  font-weight: bolder;
  color:blue;
  text-align:left;
  border-top:20px;
  border-radius:10px;
  font-size: 16px;
  background-color:lightcyan;
  margin-bottom:10px;

}

.p {
  box-sizing: border-box;
}

.p-center {
  text-align:center;
  margin: auto;
  padding: 0 1rem;
  margin-top: 10px;
  font-size: medium;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:normal;
  font-size: 20px;
  color:rgb(182, 172, 172);
  font-weight:lighter;
  padding-bottom:1rem;


}
.button{
  border-radius:20px;
  height:30px;
  margin-left:1rem;
  background-color:lightcyan;
  color:cadetblue;

}

.responsive-img-container {
  width: 50%;
}

.active {
  background-color: #12123f!important;
  color: white!important;
  border-radius: 5px!important;
}

.gallery-photos-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .responsive-img-container {
    width: 100%;
  }
}
