

  
  .nav-item{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: oblique;
   

  }

  .mt-3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size:50px;
    font-style:italic
  }
  

.carousel {
    max-width: 50rem;
    margin: 1rem auto;
    
}

.carousel-item img {
    height:auto;
    object-fit:cover;
    
}


    
.carousel-inner {
    border-radius: 10px;
    margin-left: 10px;
}




.p {
    box-sizing: border-box;
    
}

.p-center{
text-align: center;
margin-left: 50px;
margin-right: 10px;
margin-top: 10px;
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
font-weight: bolder;

}










